<script>
    $.notify("<%= notice %>", "success");
</script>

<h1 class="todo_list_title"><%= @todo_list.title %></h1>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>

<div id="todo_items_wrapper">
	<%= render @todo_list.todo_items %>
	<div id="form">
		<%= render "todo_items/form" %>
	</div>
</div>

<div class="links">
    <%= link_to todo_lists_path, class: 'btn btn-primary btn-sm' do %>
        <i class="glyphicon glyphicon-menu-left"></i> Back
    <% end %>
    <%= link_to edit_todo_list_path(@todo_list), class: 'btn btn-sm btn-warning' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
    <% end %>
    <%= link_to todo_list_path(@todo_list), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="glyphicon glyphicon-trash"></i> Delete
    <% end %>
</div>